<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
        body{
            font-family: 'American Typewriter', sans-serif;
            background: floralwhite;
        }
        #montage-heading, #montage-subheading, #montage-container, #montage-buttons, #montage-form-el{
            text-align: center;
        }
        #montage-container{
            display: grid;
            grid-template-columns: 4% 21% 50% 20% 5%;
            /* border: solid black 1px; */
        }
        #montage-buttons{
            padding-top: 10px;
        }
        #montage {
            margin: auto;
            text-align: center;
        }

        #intro{
            /* border: solid black 2px; */
            text-align: left;
        }
        #dna_1, #dna_2{
            border: solid black 2px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="/views/dnaview.js"></script>

    <script>
        "use strict"

        const montage_size = 25;
        const thumbnail_height = 120;
        const thumbnail_width = 136;
        const scale = d3.scaleOrdinal(d3.schemeCategory10);
        // const thumbnail_height = 100;
        // const thumbnail_width = 116;

        let thumbnail_position_map = new Map();
        let thumbnail_nodegene_map = new Map();
        let thumbnail_genome_id_map = new Map();
        let selected_thumbnails = [];
        let colorCheck = false;
        let denseCheck = false;

        function load_montage(){
            selected_thumbnails = [];
            thumbnail_position_map = new Map();
            thumbnail_nodegene_map = new Map();
            thumbnail_genome_id_map = new Map();
            colorCheck = $('#color-check')[0].checked;
            denseCheck = $('#dense-check')[0].checked;

            $.ajax({url:'/montage?color='+colorCheck+'&dense='+denseCheck})
                .done((response) => {
                   let canvas = $("#montage")[0];
                   let ctx = canvas.getContext('2d');
                   let count = 0;
                   for(var i=0;i<Math.sqrt(montage_size);i++){
                        for(var j=0;j<Math.sqrt(montage_size);j++){
                            var image = new ImageData(Uint8ClampedArray.from(response[count].data), thumbnail_width, thumbnail_height);
                            ctx.putImageData(image, thumbnail_width*i, thumbnail_height*j);
                            // ctx.fillText(i+"_"+j, thumbnail_width*i+10, thumbnail_height*j+10);//TODO: Remove later. 
                            ctx.strokeStyle = '#fbfaf6';
                            ctx.lineWidth = 4;
                            ctx.strokeRect(thumbnail_width*i, thumbnail_height*j, thumbnail_width, thumbnail_height);
                            thumbnail_position_map.set(i+"_"+j, [thumbnail_width*i, thumbnail_height*j]); 
                            thumbnail_nodegene_map.set(i+"_"+j, response[count].node_genes);
                            thumbnail_genome_id_map.set(i+"_"+j, response[count].genome_id);
                            count++;
                        }
                    }
                });
        }

        function drawSelection(position, color){
            let canvas = $("#montage")[0];
            let ctx = canvas.getContext('2d');
            ctx.strokeStyle = color;
            ctx.lineWidth = 2;
            ctx.strokeRect(position[0]+2, position[1]+2, thumbnail_width-4, thumbnail_height-4);
        }

        

        function findCoordinates(id){
            var r_cx = 50;
            var r_cy = 50;
            if(id <= 3){
                r_cx = r_cx + id*r_cx;
            }else if(id=='100000'){
                r_cx = 150;
                r_cy = 200;
            }else {
                r_cx = r_cx + id*15;
                r_cy = r_cy + id*15;
            }
            return [r_cx, r_cy];
        }

        function clearDrawings(){
            d3.select('#dna_1_svg').selectAll("*").remove();
            d3.select('#dna_2_svg').selectAll("*").remove();
            selected_thumbnails = new Array();
        }

        function select_thumb(e){
            var max_selection = 2;
            var key = Math.floor(e.offsetX/thumbnail_width)+'_'+Math.floor(e.offsetY/thumbnail_height);
            var position = thumbnail_position_map.get(key);

            if(selected_thumbnails.indexOf(key) > -1){
                selected_thumbnails.pop(key);
                drawSelection(position, '#fbfaf6');//floralwhite! 
            }else{
                if(selected_thumbnails.length == max_selection){
                    var ex_key = selected_thumbnails.shift();
                    drawSelection(thumbnail_position_map.get(ex_key), '#fbfaf6');//floralwhite! 
                }
                selected_thumbnails.push(key);
                drawSelection(position, '#f442f1');//hot pink! 
                drawDNA(selected_thumbnails)
            }

            // console.log(selected_thumbnails)
        }

        function mutate(){
            var genomes = [];
            selected_thumbnails.forEach((id) => {
                var genome = {'genome_id': thumbnail_genome_id_map.get(id),
                                'node_genes':thumbnail_nodegene_map.get(id)};

                genomes.push(genome);
            });
            colorCheck = $('#color-check')[0].checked;
            denseCheck = $('#dense-check')[0].checked;

            $.ajax({
                type: 'POST',
                url: '/mutate',
                data: {'genomes':genomes, 'color': colorCheck, 'dense': denseCheck}
            }).then((response) => {
                let canvas = $("#montage")[0];
                   let ctx = canvas.getContext('2d');
                   let count = 0;
                   for(var i=0;i<Math.sqrt(montage_size);i++){
                        for(var j=0;j<Math.sqrt(montage_size);j++){
                            var image = new ImageData(Uint8ClampedArray.from(response[count].data), thumbnail_width, thumbnail_height);
                            ctx.putImageData(image, thumbnail_width*i, thumbnail_height*j);
                            ctx.strokeStyle = '#fbfaf6';
                            ctx.lineWidth = 4;
                            ctx.strokeRect(thumbnail_width*i, thumbnail_height*j, thumbnail_width, thumbnail_height);
                            thumbnail_position_map.set(i+"_"+j, [thumbnail_width*i, thumbnail_height*j]); 
                            thumbnail_nodegene_map.set(i+"_"+j, response[count].node_genes);
                            thumbnail_genome_id_map.set(i+"_"+j, response[count].genome_id);
                            count++;
                        }
                    }
            }).fail((error) => {
                console.log(error)
            });
        }

        function enlarge(){
            var selected_genome = null;
            selected_thumbnails.forEach((id) => {
                var genome = {'genome_id': thumbnail_genome_id_map.get(id),
                                'node_genes':thumbnail_nodegene_map.get(id)};

                selected_genome = genome;
            });
            colorCheck = $('#color-check')[0].checked;
            denseCheck = $('#dense-check')[0].checked;

            //Heroku is crashing for this. Check if there are any memory leaks. 
            $.ajax({
                type: 'POST',
                url: '/enlarge',
                data: {'selected_genome':selected_genome, 'color': colorCheck, 'dense': denseCheck}
            }).then((response) => {
                window.open(response,'_blank');
            });
        }

        function load_page(){
            load_montage(false, false);

            $('[type=checkbox]').change(() => {
                load_montage(); 
                clearDrawings();
            });
            $('#refresh').click(() => {
                load_montage();
                clearDrawings();
            });

            $("#mutate").click(() => {
                mutate();
                clearDrawings();
            });

            $("#enlarge").click(() => {
                enlarge();
            });

            let canvas = $("#montage")[0];
            canvas.addEventListener('click', select_thumb);
        }
    </script>
</head>
<body onload="load_page()">
    <div id="montage-heading"><h1><b>My Own Picbreeder</b></h1></div>
    <div id="montage-subheading"><h4>Based on the original <a href="http://picbreeder.org" target="_blank">picbreeder</a>. 
                                     Using <a href="https://eplex.cs.ucf.edu/papers/stanley_gpem07.pdf" target="_blank">CPPN-NEAT</a>.</h4></div>
    <div id="montage-form-el" class="form-check">
        <label class="form-check-label">
            <input id="color-check" class="form-check-input" type="checkbox">Picbreeder in colors</input>
        </label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="form-check-label">
            <input id="dense-check" class="form-check-input" type="checkbox">Start with more dense initial patterns</input>
        </label>
    </div>
    <div id="montage-container">&nbsp;
        <div id="intro">
            <h4>What is <b>my own picbreeder</b>?</h4>
            <p>This app is my attempt to recreate <a href="http://picbreeder.org">picbreeder</a> using javascript. 
                Specifically tfjs-node for number crunching & d3 force layout to visualize the DNA.</p>
            <h5>How to use this app?</h5>
            <p>
              Select any two patterns from the montage. You can view the neural network (a.k.a DNA) responsible for generating the pattern on the right hand side. 
              Click mutate to cross breed and mutate these two neural networks to create more patterns!  
            </p>
            <p>You can breed patterns in colors or create more dense patterns using the top two checkboxes. The networks are mutated at random and crossed at random, inline with some of the ideas outlined in the <a href="https://eplex.cs.ucf.edu/papers/stanley_gpem07.pdf">CPPN-NEAT</a> paper.</p>
            <p>Like any pattern after mutation? Click on 'Download Image'. Hit 'Refresh' to restart.</p>
            <p>Also, check out the <a href="/single">single pattern generator</a>. I've written a <a href="https://medium.com/@prnmkmth/generative-art-using-neural-networks-and-javascript-d2c353fb0574">blog post</a> with more details. Source code is <a href="https://github.com/pkamath2/picbreeder-tf-node">here</a>.</p>
        </div>
        <canvas id='montage' width=680 height=600></canvas>
        <div id="dna">
            <div id="dna_1"> <svg id='dna_1_svg' width=300 height=300><text x=15% y=50%>Select montage to view DNA</text></svg></div>        
            <div id="dna_2"> <svg id='dna_2_svg' width=300 height=300><text x=15% y=50%>Select montage to view DNA</text></svg></div>        
        </div>
    </div>
    <div id="montage-buttons">
        <button id="refresh" type="button" class="btn btn-dark">Refresh</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button id="mutate" type="button" class="btn btn-dark">Mutate</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button id="enlarge" type="button" class="btn btn-dark">Download Image</button>
    </div>
    
</body>
</html>